.section-container {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
}
/* 
main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory !important;
} */
section {
  scroll-snap-align: start !important;
}

.icon-container {
  position: absolute;
  bottom: 4rem;
  right: 5rem;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
}

.animated-icon {
  animation: moveUpDown 2s ease-in-out infinite;
}
