@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'plain-regular';
    src: url(assets/fonts/Plain-Regular.otf);
}

@font-face {
    font-family: 'plain-bold';
    src: url(assets/fonts/Plain-Bold.otf);
}

@font-face {
    font-family: 'plain-italic';
    src: url(assets/fonts/Plain-Italic.otf);
}

@font-face {
    font-family: 'plain-bold-italic';
    src: url(assets/fonts/Plain-BoldItalic.otf);
}

@font-face {
    font-family: 'plain-light';
    src: url(assets/fonts/Plain-Light.otf);
}

@font-face {
    font-family: 'plain-light-italic';
    src: url(assets/fonts/Plain-LightItalic.otf);
}

@font-face {
    font-family: 'plain-medium';
    src: url(assets/fonts/Plain-Medium.otf);
}

@font-face {
    font-family: 'plain-medium-italic';
    src: url(assets/fonts/Plain-MediumItalic.otf);
}