@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'aileron';
    src: url('./assets/fonts/Aileron-Bold.otf');
}

@font-face {
    font-family: 'aileronRegular';
    src: url('./assets/fonts/Aileron-Regular.otf');
}

@font-face {
    font-family: 'averta';
    src: url('./assets/fonts/Averta-Bold.ttf');
}